.header .logoCart {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px;
}

.header .logoCart img {
  height: 30px;
  width: auto;
  transition: all 0.3s;
}

.header .logoCart:hover {
  transform: scale(1.2);
}

.header .logoCart .badge {
  font-size: 10px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  width: 42px;
  color: white;
}
