.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px; /* Ajusta la altura según sea necesario */
  background-color: #1b3039;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

/* Estilo del logo */
.navbar-logo {
  display: flex;
  align-items: center;
  transform: scale(1.1);
}

.navbar-logo img:hover {
  transform: scale(1.1);
}

.logoCompany {
  height: 80px; /* Ajusta la altura del logo según sea necesario */
  margin-right: 20px;
}

/* Estilo de los enlaces del Navbar */
.navbar-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.navbar-links a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

/* Estilo del carrito y login */
.navbar-cart {
  display: flex;
  align-items: center;
}

.navbar-cart a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.navbar-cart a:hover {
  text-decoration: underline;
}

.navbar-login {
  display: flex;
  align-items: center;
}

.navbar-login a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.navbar-login a:hover {
  text-decoration: underline;
}
