@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
}

body {
  background-color: #fff59d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Contenedor principal para el contenido */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* El contenedor del contenido principal */
.content {
  flex: 1;
}
